.todoItem {
    display: flex;
    flex-direction: column;
    width: 100%;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between items */
    padding: 2;
    list-style: none;
    width: 100%;
}

