.listItem {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 8px; /* Slightly reduced padding */
    min-height: 10px;
    border: 1px solid #ddd; /* Thin, light border */
    border-radius: 6px; /* Smooth corners */
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: fit-content; /* Only as wide as its content */
    max-width: 500px; /* Limit the width */
    width: 50%; /* Take full width if needed */
}

.checkbox {
    width: 10px;
    height: 10px;
    transform: scale(1.5);
    margin-right: 50px;
    cursor: pointer;
    align-items: center; 
    justify-content: center; 
    margin-right: 10px; 
}

.listItem input {
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.listItem input:hover {
    text-decoration: underline;
    cursor: pointer;
}

.listItem input:disabled{
    background-color:var(--li-background);
    border: none;
}

.checked {
    text-decoration: line-through;
}

.listItem button {
    padding: 5px;
    margin-left: 5px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color:var(--li-background)
}

.edit:hover{
    background-color:#7dedba;
}

.delete:hover{
    background-color:#ed7d8a;
}

@media all and (max-width:480px) {
    .listItem {
        padding: 3px 10px 0px;
    }
    .listItem button {
        width: 25px;
        height: 25px;
    }
    .listItem input {
        font-size: 16px;
    }
}